@{
    ViewData["Title"] = "Lab 1";
}

<div class="row">
    <div class="col-md-12">
        <div>
            <h2>@ViewData["Title"]</h2>
            <br />
            <p>
                <b>Task:</b>
            </p>
            <pre>
Для доступу до лабораторії НДІ Досліджень Даних Рядків використовуються ключі у вигляді прямокутних карток N×M, в яких вирізані дірки. Ці ключі можна вставляти лише одним способом (тобто не повертати, не перевертати не можна). При цьому дірки мають прямокутну форму. До Васі потрапило два ключі від різних лабораторій. Він вирішив їх накласти один на одного так, щоб фігура, що вийшла, мала максимальну кількість дірок (просвітів). При цьому ключі лежали в тому положенні, в якому їх необхідно вставляти в замок, а Вася не хоче їх повертати. Допоможіть Васі визначити максимальну кількість дірок. При накладенні вважаються ті дірки, нутрощі яких не порожні.
Вхідні дані
Перший рядок вхідного файлу INPUT.TXT містить два цілих числа - 1 ≤ N, M ≤ 109 - довжини сторін ключа. Другий рядок містить єдине ціле число - 1 ≤ K1 ≤ 500 - число дірок у першому ключі. Далі в рядках K1 написано по чотири цілих числа - X1, Y1, X2, Y2 (0 ≤ X1 < X2 ≤ N, 0 ≤ Y1 < Y2 ≤ M) – координати кутів відповідних прямокутних дірок. Дірки у ключі не перетинаються і не торкаються.
Далі слідує опис другого ключа в такому ж форматі.
Вихідні дані
У вихідний файл OUTPUT.TXT виведіть єдине ціле число - максимальну кількість дірок, які може отримати Вася.
            </pre>
            <h2>Input data</h2>
            <form method="POST">
                <br />
                <label>Path to input file:</label>
                <br />
                <input type="text" name="input_file" />
                <br />
                <br />
                <label>Path to output file:</label>
                <br />
                <input type="text" name="output_file" />
                <br />
                <br />
                <input type='submit' value='Execute' />
            </form>
        </div>
    </div>
</div>