@{
    ViewData["Title"] = "Lab 2";
}

<div class="row">
    <div class="col-md-12">
        <div>
            <h2>@ViewData["Title"]</h2>
            <br />
            <p>
                <b>Task:</b>
            </p>
            <pre>
Закінчивши університет, Петя вирішив зайнятися розробкою веб-додатків. Отримавши перше замовлення, Петя вважав за розумне на час виконання замовлення забезпечити себе доступом до Інтернету. Провайдер, з яким Петя уклав контракт, забезпечує доступ до Інтернету лише за допомогою сервіс-карток. Коли Петя прийшов у місцеве поштове відділення за їх покупкою, виявилося, що у продажу є N сервіс-карт.
Кожна сервис-карта характеризується трьома числами Bi, Ei, Si, де Si – вартість карти, а Bi і Ei – це початок і закінчення часу її дії, тобто. сервіс-карта дозволяє отримати доступ до Інтернету в будь-який момент часу t такий, що Bi ≤ t ≤ Ei. Час відраховується від певного фіксованого моменту у минулому.
Петя вирішив, що буде працювати над виконанням замовлення, починаючи з часу B і закінчуючи моментом часу E. Основна проблема полягає в тому, що Петя не багатий, тому він хоче на час виконання замовлення забезпечити себе «стабільним» Інтернетом і витратити на це як можна меншу суму. Будемо говорити, що це безліч сервіс-карт забезпечує Пете «стабільний» Інтернет, якщо для будь-якого моменту часу t, такого, що B ≤ t ≤ E, знайдеться хоча б одна сервіс-картка з даної множини, яка дозволяє отримати доступ до Інтернету цей час.
Ваше завдання полягає в тому, щоб визначити мінімальну суму грошей, необхідну Петі для придбання безлічі карток, які забезпечать йому «стабільний» Інтернет на час виконання замовлення.
Вхідні дані
У першому рядку вхідного файлу INPUT.TXT знаходиться одне число N. У другому рядку два числа B і E, розділені пробілом, де B – момент початку проміжку часу, коли Петя буде працювати над виконанням замовлення, а E – момент закінчення.
Наступні N рядків описують сервіс-картки, i з цих рядків описує i-ю сервіс-карту і містить три числа Bi, Ei і Si, розділені одиночними пробілами.
Обмеження: всі числа натуральні, 1 ≤ N ≤ 105, 1 ≤ Bi < Ei ≤ 109, 1 ≤ B < E ≤ 109, 1 ≤ Si ≤ 20 000. Існує хоча б одна множина карт, яка забезпечує «стабільний» Інтернет на час виконання замовлення
Вихідні дані
Вихідний файл OUTPUT.TXT повинен містити одне число, що дорівнює мінімальній сумі грошей, необхідної Пете для придбання безлічі сервіс-карток, яка забезпечить йому "стабільний" Інтернет на час виконання замовлення.
            </pre>
            <h2>Input data</h2>
            <form method="POST">
                <br />
                <label>Path to input file:</label>
                <br />
                <input type="text" name="input_file" />
                <br />
                <br />
                <label>Path to output file:</label>
                <br />
                <input type="text" name="output_file" />
                <br />
                <br />
                <input type='submit' value='Execute' />
            </form>
        </div>
    </div>
</div>