@{
    ViewData["Title"] = "Lab 3";
}

<div class="row">
    <div class="col-md-12">
        <div>
            <h2>@ViewData["Title"]</h2>
            <br />
            <p>
                <b>Task:</b>
            </p>
            <pre>
Починається зима, але в місті К на дорогах все ще продовжується ремонт. Після того, як чергову дорогу було відремонтовано, департамент транспорту дійшов висновку, що дешевше обслуговувати дороги з одностороннім рухом.
Зараз усі дороги у місті К двосторонні. Дорога складається з двох смуг – зустрічного та попутного напрямку. Потрібно перетворити максимальну кількість доріг на односторонні, залишивши одну із двох смуг так, щоб сполучення між точками міста не порушилося. Це означає, що якщо з точки i можна проїхати до точки j (прямо або через проміжні точки), то після введення одностороннього руху ця можливість має залишитися.
Карта міста задається матрицею суміжності M, заповненої нулями та одиницями. Розмірність матриці N (1 ≤ N ≤ 100) – кількість точок міста. Якщо M[i, j] = 1, то існує смуга для переміщення з точки i до точки j, що не проходить через інші точки, інакше M[i, j] = 0 (M[i, i] = 0 для будь-якого i) . Матриця M симетрична щодо головної діагоналі, тобто. M[i, j] = M[j, i], що означає двосторонню дорогу (смуга зустрічного та попутного напрямку).
Вхідні дані
У першому рядку вхідного файлу INPUT.TXT міститься натуральне число N – розмірність матриці M, наступні N рядків, кожний N символів (нулі або одиниці), розділені пробілами – елементи матриці M.
Вихідні дані
У вихідний файл OUTPUT.TXT виведіть максимально можливу кількість двосторонніх доріг, які можна перетворити на односторонні.
            </pre>
            <h2>Input data</h2>
            <form method="POST">
                <br />
                <label>Path to input file:</label>
                <br />
                <input type="text" name="input_file" />
                <br />
                <br />
                <label>Path to output file:</label>
                <br />
                <input type="text" name="output_file" />
                <br />
                <br />
                <input type='submit' value='Execute' />
            </form>
        </div>
    </div>
</div>